/* body{
    background-color: rgb(207, 204, 204) !important;
} */
img{
    border-radius: 5px !important;
}

.col-md-3{
    margin: 30px !important;
    /* box-shadow: 10px 10px 10px 10px black !important; */
}

p{
    font-weight: bold;
    font-size: 22px;
}

#navbar{
    background-color: rgb(48, 48, 48);
}

li{
    color: white;
    list-style-type: none;
    display: inline;
    margin-left: 30px !important;
}

#navelements{
    text-align: center;
    padding: 10px;
}

#title{
    font-size: 30px;
}

.greet{
    text-align: center;
    font-size: xx-small;
}

#footer{
    background-color: rgb(41, 3, 3);
    color: white;
    text-align: center;
    padding: 10px;
}

